header.header
     nav.nav
          .nav-wrapper
               .nav-header
                    .nav-brand Logo
               .nav-menu
                    .nav-button
                         label(for="nav-check")
                              span
                              span
                              span
                    input#nav-check(type="checkbox")
                    .nav-link
                         a(href="") Home
                         //
                              <a href="">About</a>
                              <a href="">Service</a>
                         a(href="") Login
                         a(href="") Sign up
