.wrapper
     .pricing-content
          .PageWidth
               .pricing-detail-content
                    .pricing-content-items-tabs
                         .pricing-yearly
                              .pricing-item
                                   .pricing-item-box
                                        .plan-name Free
                                        .plan-text
                                             span.text-bold Best for
                                             |                                             Startup agencies who want to
                                             |                                             automate their reporting
                                        .plan-price-content
                                             .plan-price
                                                  | $0
                                                  span.month-text /month
                                        .plan-features
                                             .plan-feature-item
                                                  | 5 Clients
                                        .plan-button
                                             a(href="") Buy Now
                              .pricing-item
                                   .pricing-item-box
                                        .plan-name Starter
                                        .plan-text
                                             span.text-bold Best for
                                             |                                             Startup agencies who want to
                                             |                                             automate their reporting
                                        .plan-price-content
                                             .plan-price
                                                  | $240
                                                  span.month-text /month
                                        .plan-features
                                             .plan-feature-item
                                                  | 15 Clients
                                             .plan-feature-item
                                                  | Unlimited Reports
                                             .plan-feature-item
                                                  | Unlimited Live Dashboards
                                        .plan-button
                                             a(href="") Buy Starter
                              .pricing-item
                                   .pricing-item-box
                                        span.ribbon
                                        .plan-name
                                             | Professional
                                        .plan-text
                                             span.text-bold Best for
                                             |                                             Agencies who want a brandable
                                             |                                             marketing platform
                                        .plan-price-content
                                             .plan-price
                                                  | $500
                                                  span.month-text /month
                                        .plan-features
                                             .plan-feature-item
                                                  | 30 Clients
                                             .plan-feature-item
                                                  | Unlimited Reports
                                             .plan-feature-item
                                                  | Unlimited Live Dashboards
                                        .plan-button
                                             a.plan-button-blue(href="") Buy Professional
                              .pricing-item
                                   .pricing-item-box
                                        .plan-name Enterprise
                                        .plan-text
                                             span.text-bold Best for
                                             |                                             Large agencies who want to scale
                                             |                                             their processes
                                        .plan-price-content
                                             .plan-price
                                                  | Contact us
                                        .plan-features
                                             .plan-feature-item
                                                  | Everything in Team plan &
                                             .plan-feature-item
                                                  | Marketing Operations - Workflow
                                                  | Management
                                             .plan-feature-item
                                                  | Marketing Analytics
                                        .plan-button
                                             a(href="") Contact Us
                         .pricing-monthly
                              .pricing-item
                                   .pricing-item-box
                                        .plan-name Free
                                        .plan-text
                                             span.text-bold Best for
                                             |                                             Startup agencies who want to
                                             |                                             automate their reporting
                                        .plan-price-content
                                             .plan-price
                                                  | $0
                                                  span.month-text /month
                                        .plan-features
                                             .plan-feature-item
                                                  | 5 Clients
                                        .plan-button
                                             a(href="") Buy Now
                              .pricing-item
                                   .pricing-item-box
                                        .plan-name Starter
                                        .plan-text
                                             span.text-bold Best for
                                             |                                             Startup agencies who want to
                                             |                                             automate their reporting
                                        .plan-price-content
                                             .plan-price
                                                  | $300
                                                  span.month-text /month
                                        .plan-features
                                             .plan-feature-item
                                                  | 15 Clients
                                             .plan-feature-item
                                                  | Unlimited Reports
                                             .plan-feature-item
                                                  | Unlimited Live Dashboards
                                        .plan-button
                                             a(href="") Buy Starter
                              .pricing-item
                                   .pricing-item-box
                                        span.ribbon
                                        .plan-name
                                             | Professional
                                        .plan-text
                                             span.text-bold Best for
                                             |                                             Agencies who want a brandable
                                             |                                             marketing platform
                                        .plan-price-content
                                             .plan-price
                                                  | $625
                                                  span.month-text /month
                                        .plan-features
                                             .plan-feature-item
                                                  | 30 Clients
                                             .plan-feature-item
                                                  | Unlimited Reports
                                             .plan-feature-item
                                                  | Unlimited Live Dashboards
                                        .plan-button
                                             a.plan-button-blue(href="") Buy Professional
                              .pricing-item
                                   .pricing-item-box
                                        .plan-name Enterprise
                                        .plan-text
                                             span.text-bold Best for
                                             |                                             Large agencies who want to scale
                                             |                                             their processes
                                        .plan-price-content
                                             .plan-price
                                                  | Contact us
                                        .plan-features
                                             .plan-feature-item
                                                  | Everything in Team plan &
                                             .plan-feature-item
                                                  | Marketing Operations - Workflow
                                                  | Management
                                             .plan-feature-item
                                                  | Marketing Analytics
                                             .plan-feature-item
                                                  | Custom Connectors
                                             .plan-feature-item
                                                  | Data
                                             .plan-feature-item
                                                  | HIPAA compliance
                                             .plan-feature-item
                                                  | Franchise Solutions
                                             .plan-feature-item
                                                  | Storage
                                             .plan-feature-item
                                                  | 150+ Data Sources
                                        .plan-button
                                             a(href="") Contact Us
